<div class="header">
<div class="header_top">  
    <div class="w960 center">  
 <span id="time" class="time"><a href="/">首页</a>{loop type="typename" row="10"} - <a href='{$vo.typeurl}' {$vo.rel}>{$vo.typename}</a> {/loop}</span>
       <div class="toplinks"<span >[<a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$web_url}');">设为首页</a>] [<a href="javascript:window.external.AddFavorite('{$web_url}','{$title}')">加入收藏</a>]</span></div>
    </div> 
</div>
</div><!-- //header -->
