/* 织梦58（dede58.com）做最好的织梦整站模板下载网站 */
body {
	background-color: #ffffff;
	background-position: center top;
	font-family: 'Microsoft YaHei', 'Simsun', Arial;
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
}
a {
	color: #666666;
}
a:hover {
	color: #0084e9;
}
