<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
{include file="style.html"}
<body>
{include file="head.html"}
<div class="inner met_flash"><div class="flash">
<img src='{模板路径}/upload/201404/1397804572.jpg' width='999' alt='' height='200'></div></div>

<div class="sidebar inner">

    <div class="sb_nav">

			<div class="sb_nav_top"><h3 class="title"><span>联系我们</span><b>Site navigation</b></h3></div>

			{include file="left.html" }
		
    <div class="sb_box sbbo ">
	    <h3 class="title">
			<div class="position"><a href="/" title="网站首页">网站首页</a> &gt; <a href="{$thisurl}" >联系方式</a></div>
			<span>联系我们</span><b>Welcome to visit our</b>
		</h3>
		
		<div class="clear"></div>

        <div class="editor active" id="showtext">
		    <div><p>
	&nbsp;</p>
<div>
	<table border="0" cellpadding="1" cellspacing="1" style="color: rgb(110, 110, 110); font-family: 宋体b8b体, arial; font-size: 14px; line-height: 28px; width: 660px;">
		<tbody>
			<tr>
				<td style="margin: 0px; padding: 0px;">
					&nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp;{网站名称}</strong>
					<p style="margin-left: 40px; word-wrap: break-word;">
						<br />
						地址：{联系地址}</p>
					<p style="margin-left: 40px; word-wrap: break-word;">
						电话：{联系电话}<br />
						邮&nbsp; 编：{固定数字5}<br />
						E-mail：{联系邮箱}<br />
						网站：{网站地址}</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
</div>
			<div class="clear"></div>
		</div>

    </div>
    <div class="clear"></div>
</div>


{include file="footer.html" }
</body></html>