<div class="sider"><h3 class="title"><span>联系方式</span><b>Contact</b></h3>
			<div class="active editor3"><p><br />
	<span style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;">地 址：{联系地址}</span><br style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;" />
	<span style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;">电 话：{联系电话}</span><br style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;" />  
	<span style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;">网址：{当前域名}</span><br style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;" />
	<span style="font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px;">邮 箱：{联系邮箱}</span></p><div class="clear"></div></div>
    </div></div>