<link rel="stylesheet" type="text/css" href="{$theme_path}/ui/css/xbwseo_ui.css" id="metuimodule" data-module ="10001" />
<link rel="stylesheet" type="text/css" href="{$theme_path}/images/css/xbwseo.css" />
<script src="{$theme_path}/js/jQuery1.7.2.js" type="text/javascript"></script>
<script src="{$theme_path}/ui/js/xbwseo_ui.js" type="text/javascript"></script>
<!--[if IE]>
<script src="{$theme_path}/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>

<script type="text/javascript" src="{$theme_path}/images/js/banner.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="{$theme_path}/images/js/DD_belatedPNG_0.0.8a.js"></script>
<script>
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->