<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{$toptitle}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link href="{$theme_path}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/base.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/el-style.css" rel="stylesheet">
<script src="{$theme_path}/skin/js/jquery-1.11.0.min.js"></script>
<script src="{$theme_path}/skin/js/functions.js"></script>
<script src="{$theme_path}/skin/js/sea.js"></script>
<script src="{$theme_path}/skin/js/sea.run.js"></script>
<script>
website["dataId"]='4647';
</script>
</head>
<body>
{include file="wap_head.html" }
<div id="pageOuter"> {include file="list_head.html" } 
  
  <!--广告-->
  <div class="row" id="el_8573323734861709" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_5877406638476884" path="column">
          <div class="pluginWrapper plugin_2308236375216341" id="plugin_2308236375216341" path="plugin" data-areaid="2308236375216341" data-edit="true">
            <div class="pluginContent"> <img src="{$theme_path}/skin/image/bannter04.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--广告-->
  
  <div class="row" id="el_2409364663047444" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_8439151065227512" path="column">
          <div class="container">
            <div class="row" id="el_2501645458682503" path="row">
              <div class="rowFluid"> 
                
                <!--左--> 
                {include file="list_left.html" } 
                <!--左-->
                
                <div class="span9 col-xm-12">
                  <div class="column" id="el_2764782457471358" path="column">
                    <div class="row" id="el_1983128610483650" path="row">
                      <div class="rowFluid">
                        <div class="span3 col-xs-4">
                          <div class="column" id="el_4360846670664358" path="column">
                            <div class="pluginWrapper plugin_6994508354811778" id="plugin_6994508354811778" path="plugin" data-areaid="6994508354811778" data-edit="false">
                              <div class="pluginContent">关于我们 </div>
                            </div>
                          </div>
                        </div>
                        <div class="span9 col-xs-12">
                          <div class="column" id="el_7749551375573275" path="column">
                            <div class="pluginWrapper plugin_2699734354812400" id="plugin_2699734354812400" path="plugin" data-areaid="2699734354812400" data-edit="false">
                              <div class="pluginContent"> <a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pluginWrapper plugin_2870550614377147" id="plugin_2870550614377147" path="plugin" data-areaid="2870550614377147" data-edit="true">
                      <div class="pluginContent"> {公司简介长} </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--尾部--> 
  {include file="footer.html" } </div>
</body>
</html>
