<!--尾部-->
<style>
.PowerbyDedeCms a {
	display: none;
}
</style>
<div class="row" id="el_1021745224471778" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_8312778912158902" path="column">
        <div class="container">
          <div class="row" id="el_6919696367528556" path="row">
            <div class="rowFluid">
              <div class="span3">
                <div class="column" id="el_3877769830988388" path="column">
                  <div class="pluginWrapper plugin_4575316970726747" id="plugin_4575316970726747" path="plugin" data-areaid="4575316970726747" data-edit="false">
                    <div class="pluginContent"> <span class="mod-wr1 active" data-level="1">产品展示</span> {loop type="domain" row="5"} <a class="mod-wr2" data-level="2" href="{$vo.url}" title="{$vo.title}">{$vo.title}</a> {/loop} </div>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="column" id="el_1623831277473292" path="column">
                  <div class="pluginWrapper plugin_7478835666876849" id="plugin_7478835666876849" path="plugin" data-areaid="7478835666876849" data-edit="false">
                    <div class="pluginContent"> <span class="mod-wr1 active" data-level="1">友情链接</span> {loop type="link" row="5"} <a class="mod-wr2" data-level="2" href="{$vo.url}" title="{$vo.title}">{$vo.title}</a> {/loop} </div>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="column" id="el_7894518847273078" path="column">
                  <div class="pluginWrapper plugin_3833412084226973" id="plugin_3833412084226973" path="plugin" data-areaid="3833412084226973" data-edit="false">
                    <div class="pluginContent">联系我们</div>
                  </div>
                  <div class="pluginWrapper plugin_7258478523383207" id="plugin_7258478523383207" path="plugin" data-areaid="7258478523383207" data-edit="false">
                    <div class="pluginContent">
                      <p> <span style="line-height:1.5;">地址：{联系地址}</span> </p>
                      <p> 电话：{联系电话} </p>
                      <p> 传真：{联系电话} </p>
                      <p> 邮箱：{联系邮箱} </p>
                    </div>
                  </div>
                </div>
              </div>
			  
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:20px 0;text-align:center">Copyright &copy; 2017 Powered by <a href="{$web_url}">{网站名称}</a>&nbsp;&nbsp;{统计代码} <a href="http://{$host}/sitemap.xml">sitemap</a></div>
</div>
{分享代码}
{百度推送代码}