<div class="span3 col-xm-12">
  <div class="column" id="el_8082432165933427" path="column">
    <div class="pluginWrapper plugin_2919521583661143" id="plugin_2919521583661143" path="plugin" data-areaid="2919521583661143" data-edit="false">
      <div class="pluginContent">
        <label class="mb-label" for="nav_2919521583661143">产品分类</label>
        <input class="sideMenuCheckbox" id="nav_2919521583661143" type="checkbox">
        <div class="menu-list"> <a class="mod-wr1" data-level="1" href="{geturl tpl='product_list'/}" title="">产品分类</a> {loop type="typename" tpl="product_list"} <a class="mod-wr2" data-level="2" href="{$vo.typeurl}" title="{$vo.typename}">{$vo.typename}</a> {/loop} </div>
        <script>seajs.use('',function(){sideMenu('2919521583661143',960);});</script></div>
    </div>
    <!--联系我们-->
    <div class="row" id="el_5492697234296904" path="row">
      <div class="rowFluid">
        <div class="span12">
          <div class="column" id="el_5940576761942389" path="column">
            <div class="pluginWrapper plugin_7589166268451410" id="plugin_7589166268451410" path="plugin" data-areaid="7589166268451410" data-edit="false">
              <div class="pluginContent">联系我们</div>
            </div>
            <div class="pluginWrapper plugin_4348450987947603" id="plugin_4348450987947603" path="plugin" data-areaid="4348450987947603" data-edit="false">
              <div class="pluginContent">
                <p> <span style="line-height:1.5;">地址: {联系地址}</span> </p>
                <p> 电话：{联系电话} </p>
                <p> 传真：{联系电话} </p>
                <p> 邮箱：<span style="white-space:normal;">{联系邮箱}</span> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--联系我们--> 
  </div>
</div>
