<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{$toptitle}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link href="{$theme_path}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/base.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/el-style.css" rel="stylesheet">
<script src="{$theme_path}/skin/js/jquery-1.11.0.min.js"></script>
<script src="{$theme_path}/skin/js/functions.js"></script>
<script src="{$theme_path}/skin/js/sea.js"></script>
<script src="{$theme_path}/skin/js/sea.run.js"></script>
<script>
website["dataId"]='8648';
</script>
</head>
<body>
{include file="wap_head.html" }
<div id="pageOuter"> {include file="list_head.html" } 
  
  <!--广告-->
  <div class="row" id="el_3274322733516083" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_3282114453254713" path="column">
          <div class="pluginWrapper plugin_3808536885741767" id="plugin_3808536885741767" path="plugin" data-areaid="3808536885741767" data-edit="true">
            <div class="pluginContent"> <img src="{$theme_path}/skin/image/bannter02.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--广告-->
  
  <div class="row" id="el_1369300747551093" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_6546678026552768" path="column">
          <div class="container">
            <div class="row" id="el_4730198833406855" path="row">
              <div class="rowFluid"> 
                <!--左--> 
                {include file="img_left.html" } 
                <!--左-->
                
                <div class="span9 col-xm-12">
                  <div class="column" id="el_3844765747821582" path="column">
                    <div class="row" id="el_7611113370357707" path="row">
                      <div class="rowFluid">
                        <div class="span3 col-xs-12">
                          <div class="column" id="el_5438457752128995" path="column">
                            <div class="pluginWrapper plugin_5126695926238777" id="plugin_5126695926238777" data-areaid="5126695926238777" data-edit="false" path="plugin">
                              <div class="pluginContent">{$typename}</div>
                            </div>
                          </div>
                        </div>
                        <div class="span9 col-xs-12">
                          <div class="column" id="el_2954799274818186" path="column">
                            <div class="pluginWrapper plugin_5599233612187229" id="plugin_5599233612187229" path="plugin" data-areaid="5599233612187229" data-edit="false">
                              <div class="pluginContent"> <a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="el_5593205851107733" path="row">
                      <div class="rowFluid">
                        <div class="span6 col-sm-12">
                          <div class="column" id="el_1706582226433617" path="column">
                            <div class="pluginWrapper plugin_8942692752777418" id="plugin_8942692752777418" path="plugin" data-areaid="8942692752777418" data-edit="true">
                              <div class="pluginContent"> <img src="{$pic}"></div>
                            </div>
                          </div>
                        </div>
                        <div class="span6 col-sm-12">
                          <div class="column" id="el_6146883361497090" path="column">
                            <div class="pluginWrapper plugin_7224526939167759" id="plugin_7224526939167759" path="plugin" data-areaid="7224526939167759" data-edit="true">
                              <div class="pluginContent">{产品名称}</div>
                            </div>
                            <div class="pluginWrapper plugin_2951214617133022" id="plugin_2951214617133022" path="plugin" data-areaid="2951214617133022" data-edit="true">
                              <div class="pluginContent">更新时间：{发布时间}</div>
                            </div>
                            <div class="pluginWrapper plugin_1743324943742918" id="plugin_1743324943742918" path="plugin" data-areaid="1743324943742918" data-edit="false">
                              <div class="pluginContent"> <span style="color:#666666;">订购热线：</span>{联系电话}</div>
                            </div>
                            <div class="pluginWrapper plugin_5786171926446523" id="plugin_5786171926446523" data-areaid="5786171926446523" data-edit="false" path="plugin">
                              <div class="pluginContent"><a class="mod-a" href="http://wpa.qq.com/msgrd?v=3&uin={固定数字9}&Site=Menu=yes" target="_blank">在线咨询</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pluginWrapper plugin_1409167447306854" id="plugin_1409167447306854" path="plugin" data-areaid="1409167447306854" data-edit="false">
                      <div class="pluginContent">产品介绍</div>
                    </div>
                    <div class="pluginWrapper plugin_8313138640702759" id="plugin_8313138640702759" path="plugin" data-areaid="8313138640702759" data-edit="true">
                      <div class="pluginContent">
                        <p class="MsoNormal" align="left"> {$body} </p>
                      </div>
                    </div>
                    <div class="pluginWrapper plugin_2727587945568572" id="plugin_2727587945568572" path="plugin" data-areaid="2727587945568572" data-edit="false">
                      <div class="pluginContent">我要采购</div>
                    </div>
                    <div class="pluginWrapper plugin_4258895283385757" id="plugin_4258895283385757" data-areaid="4258895283385757" data-edit="false" path="plugin">
                      <div class="pluginContent">
                        <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                          <input type="hidden" name="action" value="post" />
                          <input type="hidden" name="diyid" value="2" />
                          <input type="hidden" name="do" value="2" />
                          <div class="input-row">
                            <div class="input-caption"> <strong class="required">*</strong>联系人</div>
                            <input class="input-text" type="text" name='lxr' id='lxr' required data-rule="联系人:null;required" placeholder="联系人">
                          </div>
                          <div class="input-row">
                            <div class="input-caption"> <strong class="required">*</strong>手机号码</div>
                            <input class="input-text" type="text" name='shoujihaoma' id='shoujihaoma' required data-rule="手机号码:mobile;required" placeholder="手机号码" maxlength="11">
                          </div>
                          <div class="input-row">
                            <div class="input-caption">电子邮箱</div>
                            <input class="input-text" type="text" name='email' id='email'  data-rule="电子邮箱:email;" placeholder="电子邮箱">
                          </div>
                          <div class="input-row">
                            <div class="input-caption"> <strong class="required">*</strong>采购意向</div>
                            <textarea class="textarea" name='cgyx' id='cgyx' required data-rule="采购意向:null;required" placeholder="采购意向" rows="4"></textarea>
                          </div>
                          <input type="hidden" name="dede_fields" value="lxr,text;shoujihaoma,text;email,text;cgyx,multitext" />
                          <input type="hidden" name="dede_fieldshash" value="4734bac65feb94e8db9ca990ce9750f2" />
                          <div class="input-row">
                            <input class="input-button" type="submit" value="提 交">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--尾部--> 
  {include file="footer.html" } </div>
</body>
</html>
