<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{$toptitle}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link href="{$theme_path}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/base.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/el-style.css" rel="stylesheet">
<script src="{$theme_path}/skin/js/jquery-1.11.0.min.js"></script>
<script src="{$theme_path}/skin/js/functions.js"></script>
<script src="{$theme_path}/skin/js/sea.js"></script>
<script src="{$theme_path}/skin/js/sea.run.js"></script>
<script>
website["dataId"]='13976';
</script>
</head>
<body>
{include file="wap_head.html" }
<div id="pageOuter"> {include file="list_head.html" } 
  <!--广告-->
  <div class="row" id="el_6713607855678309" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_3206877949327826" path="column">
          <div class="pluginWrapper plugin_8161690646577223" id="plugin_8161690646577223" data-areaid="8161690646577223" data-edit="true" path="plugin">
            <div class="pluginContent"> <img src="{$theme_path}/skin/image/bannter02.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--广告-->
  
  <div class="row" id="el_1540181152177403" path="row">
    <div class="rowFluid">
      <div class="span12">
        <div class="column" id="el_8099836947592750" path="column">
          <div class="container">
            <div class="row" id="el_4984153511903419" path="row">
              <div class="rowFluid"> 
                <!--左--> 
                {include file="img_left.html" } 
                <!--左--> 
                
                <!--右-->
                <div class="span9 col-xm-12">
                  <div class="column" id="el_8289406614104113" path="column">
                    <div class="row" id="el_2481728259524165" path="row">
                      <div class="rowFluid">
                        <div class="span3 col-xs-12 col-sm-5">
                          <div class="column" id="el_4820430639773340" path="column">
                            <div class="pluginWrapper plugin_4608726822346907" id="plugin_4608726822346907" data-areaid="4608726822346907" data-edit="false" path="plugin">
                              <div class="pluginContent">新闻中心</div>
                            </div>
                          </div>
                        </div>
                        <div class="span9 col-xs-12 col-sm-7">
                          <div class="column" id="el_5438795574851400" path="column">
                            <div class="pluginWrapper plugin_5827259620601702" id="plugin_5827259620601702" data-areaid="5827259620601702" data-edit="false" path="plugin">
                              <div class="pluginContent"> <a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pluginWrapper plugin_6206181363741914" id="plugin_6206181363741914" data-areaid="6206181363741914" data-edit="true" path="plugin">
                      <div class="pluginContent">{$title}</div>
                    </div>
                    <div class="pluginWrapper plugin_6272775264835690" id="plugin_6272775264835690" data-areaid="6272775264835690" data-edit="true" path="plugin">
						<div class="xx">&nbsp;&nbsp;来源：<a href="{网站地址}">{网站名称}</a>&nbsp;&nbsp;更新时间：{发布时间}</div>
                      <div class="pluginContent">{$body}</div>
                    </div>
                  </div>
                </div>
                <!--右--> 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--尾部--> 
  {include file="footer.html" } </div>
</body>
</html>
