<html class="uk-notouch"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<meta http-equiv="X-UA-Compatible" content="edge">
<link rel="stylesheet" href="{$theme_path}/css/uikit.css">
<link rel="stylesheet" href="{$theme_path}/css/iven.css">
<link rel="stylesheet" href="{$theme_path}/css/slideshow.css">
<link rel="stylesheet" href="{$theme_path}/css/slidenav.css">
<link rel="stylesheet" href="{$theme_path}/css/responsive.css">
<script src="{$theme_path}/js/jquery-1.11.1.min.js"></script>
<script src="{$theme_path}/js/uikit.min.js"></script>
<script src="{$theme_path}/js/slideshow.js"></script>
<script src="{$theme_path}/js/slideshow-fx.min.js"></script>
<script src="{$theme_path}/js/jquery.mousewheel.min.js"></script></head>
<body onLoad="init()">
<!--header-->
     {include file="head.html" }
<link rel="stylesheet" href="{$theme_path}/css/jquery.mCustomScrollbar.css">
<div class="page_banner"><img src="{$theme_path}/images/6db58271801e188c.jpg" ></div>
<!--nav sub-->
<div class="nav-sub">
	<img src="{$theme_path}/images/about-subtitle.jpg">
    <div class="sub-nav"></div>
</div>
<!--文章主体-->
<div class="uk-container-center">
	<p><br><br>
	{网站名称}{公司简介长}
    </p>
	</div>
	<div class="uk-grid uk-grid-collapse">
	  <div class="uk-width-medium-1-2">
	    <div class="uk-visible-small"><p><br style="text-indent: 2em; text-align: left;"></p>			</div>
	
	</div>
</div>
<br><br><br>
<!--footer-->
{include file="foot.html" }
</body></html>