<html class="uk-notouch"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<meta http-equiv="X-UA-Compatible" content="edge">
<link rel="stylesheet" href="{$theme_path}/css/uikit.css">
<link rel="stylesheet" href="{$theme_path}/css/iven.css">
<link rel="stylesheet" href="{$theme_path}/css/slideshow.css">
<link rel="stylesheet" href="{$theme_path}/css/slidenav.css">
<link rel="stylesheet" href="{$theme_path}/css/responsive.css">
<script src="{$theme_path}/js/jquery-1.11.1.min.js"></script>
<script src="{$theme_path}/js/uikit.min.js"></script>
<script src="{$theme_path}/js/slideshow.js"></script>
<script src="{$theme_path}/js/slideshow-fx.min.js"></script>
</head>
<body onLoad="init()">
<!--header-->
		 {include file="head.html" }
<!--banner-->
<div class="page_banner"><img src="{$theme_path}/images/d9ed45d0426d6674.jpg" alt="新闻中心"></div>
<!--breadcrumb-->
<div class="uk-container-center breadcrumb">
<span class="breadcrumbs">
				您现在的位置：<a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> 
				</span>
</div>
<!--新闻主体-->
<div class="article-body uk-container-center">
<h2 class="article-title">{$title} &nbsp;&nbsp;&nbsp;&nbsp;<span class="n-date">DATE: {$postdate}</span></h2>
<div class="article-content">
<p>{$body}</p><p><br></p></div>
	<div class="uk-grid uk-grid-collapse nextpage">
		<div class="uk-width-medium-1-10">
		
			
		</div>
		<div class="uk-width-medium-5-10">
		&nbsp;&nbsp;{loop type="arclist" row=1 }<a href="{$vo.url}">{$vo.title}</a>{/loop}
					</div>
		<div class="uk-width-medium-4-10">&nbsp;&nbsp;{loop type="arclist" row=1 }<a href="{$vo.url}">{$vo.title}</a>{/loop}
					</div>
	</div>
</div>
<!--footer-->
{include file="foot.html" } 
</body></html>