<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link rel="stylesheet" href="{$theme_path}/style/style.css" type="text/css" />
</head>
<body>
{include file="header.html"}
<!-- /header -->
<div class="main4">
	<div style="margin:20px 0">栏目简介：{getone name="content" cacheid="1" /}{getone name="content" cacheid="2" /}</div>
	<div class="m4_left FL">
    	<div class="m4_t1">当前位置：<a href="/">首页</a> > <a href="{$thisurl}">{$typename}</a> ></div>
        <ul class="m4_box1">
			{loop type="arclist" row=28}
            <li ><span >时间：{$vo.postdate}</span>·<a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
        <div class="dede_pages">
			<ul class="pagelist">
          	{loop type="typename" row=10}
			<a href="{$vo.typeurl}">[{$k+1}]</a>
			{/loop}
			</ul>
		</div>
    </div>
    <div class="m4_right FR">
    	<div class="m4_box2">
        	<div class="m4_t2">栏目分类</div>
            <ul class="m4_box10">
				{loop type="typename" row=8 fan=1}
					<li ><a href='{$vo.typeurl}' >{$vo.typename}</a></li>
				{/loop}
                <div class="clear"></div>
            </ul>
        </div>
    	<div class="m4_box2">
        	<div class="m4_t2">最新内容</div>
            <ul>
                {loop type="arclist" row=6}
                <li >·<a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
        <div class="m4_box20">
        	<div class="m4_t2">推荐内容</div>
            <ul>
                {loop type="link" row=4 image=1}
                <li ><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a></li>
                {/loop}
                <div class="clear"></div>
            </ul>
        </div>
        <div class="m4_box2">
        	<div class="m4_t2">热点内容</div>
            <ul>
                {loop type="arclist" row=6}
                <li >·<a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html" }
<!-- /footer -->
</body>
</html>
