<div id=topbody>


<div class=clear></div>
<div class="toplogo list">
<ul>
  <li class=a style="margin-top:33px;"><a href="{$web_url}"><img src="/uploads/images/logo.png?n={$encode_name}&w=230"></a></li>
  <li class=b>

  </li>
  <li class=c>

  </li></ul></div>
<div class=clear></div>
<div class=mainmenu>
<ul class=topnav>
  <li class=b><a class=fontmenu_1 href="/">网站首页</a></li>
  	{loop type="typename" type1="top" row="10"}
  <li class=c></li>
  <li class=b><a class=fontmenu_1 
  href="{$vo.typeurl}" target=_self>{$vo.typename}</a></li>
      	{/loop}
</ul></div>
<div class=clear></div>
<div class=topad1>


<div>

</div></div>
<div class=clear></div>


<div class=clear></div></div>