<div class="top"></div>
<div class="head">
	<div class="logo fl"><a href="{$web_url}"><img src="/uploads/images/logo.png?n={$encode_name}&w=180"></a></div>
    <div class="tagso fr">
        <div class="serach fl">
            <form action="" name="formsearch">
                <input type="hidden" name="kwtype" value="0" />
                <input name="keyword" type="text" class="search-keyword fl" id="search-keyword" value="站内搜索" onfocus="if(this.value=='站内搜索'){this.value='';}"  onblur="if(this.value==''){this.value='站内搜索';}"/>
                <button type="submit" class="search-submit fl">搜索</button>
            </form>
        </div>
    </div>
    <div class="cl"></div>
</div>
<div class="nav1">
	<ul class="n-box1">
    	<li class="u-1"><a href="{$web_path}/">首页</a></li>
        {loop type="typename" row="10"}
      	<li ><a href='{$vo.typeurl}'>{$vo.typename}</a></li>
      	{/loop}
    </ul>
</div>