<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link  rel="stylesheet" href="{$theme_path}/style/style.css" type="text/css" />
<script type="text/javascript" src="{$theme_path}/style/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$theme_path}/style/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{$theme_path}/style/js/gotoTop.js"></script>
<script type="text/javascript">
$(function(){
	$(".backToTop").goToTop();
	$(window).bind('scroll resize',function(){
		$(".backToTop").goToTop({
			pageWidth:960,
			duration:0
		});
	});
});
</script>
</head>
<body>
{include file="head.html"}
<div class="main1">
	<div class="left-1 fl">
        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul>
                	{loop type="arclist" row="5"}
                    <li ></li>
                    {/loop}
                </ul>
            </div>
            <div class="bd">
                <ul>
                	{loop type="arclist" row="5" image=1}
                    <li ><p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></li>
                    {/loop}
                </ul>
            </div>
        </div>
        <script type="text/javascript">jQuery(".slideBox").slide( { mainCell:".bd ul",effect:"left",autoPlay:true} );</script>
        <div class="g-box1">
        	<div class="t-1">特别推荐</div>
            <ul class="b-box1">
            	{loop type="arclist" row="7"}<!--此处调用全站“特荐”文章-->
				<li ><a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
	</div>
    <div class="g-box2 fl">
    	{loop type="typename" row=1}
    	<h1 ><a href="{$vo.typeurl}">{$vo.typename}</a></h1>
        {/loop}
        <ul class="b-box1">
        	{loop type="arclist" row=5}
        	<li ><a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
      {loop type="typename" row=1}
    	<h1 ><a href="{$vo.typeurl}">{$vo.typename}</a></h1>
        {/loop}
        <ul class="b-box1">
            {loop type="arclist" row=5}
        	<li ><a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
       {loop type="typename" row=1}
    	<h1 ><a href="{$vo.typeurl}">{$vo.typename}</a></h1>
        {/loop}
        <ul class="b-box1">
        	{loop type="arclist" row=5}
        	<li ><a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
    </div>
    <div class="right-1 fr">
    	<div class="g-box3">
        	<div class="t-1">大家都在看</div>
            <ul class="b-box2">
            	{loop type="arclist" row="20"}<!--此处调用全站热点文章-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
	<div class="cl"></div>
</div>
<div class="main1">
	<div class="t-3">
    	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
    </div>
    <div class="left-2 fl">
    	<div class="b-box3">
        	{loop type="arclist" row="1" image=1}<!--此处图片调用频道封面栏目“特荐”图文信息1条-->
            <p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
            {/loop}
		</div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <div class="pic">
            	{loop type="arclist" row='1' image=1 info=1}<!--此处调用指定栏目-1最新信息1条-->
            	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
                <p ><a href="{$vo.url}">{$vo.title}</a></p>
               {$vo.info}...<a href="{$vo.url}">[详细]</a>
               {/loop}
            </div>
            <ul class="b-box5">
            	{loop type="arclist" row=3}<!--此处调用指定栏目-1最新信息3条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box1">
                {loop type="arclist" row="5"}<!--此处调用指定栏目-2最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="middle-1 fl">
    	{loop type="arclist" row="1" info=1}<!--此处调用频道封面“头条”1条-->
    	<h2 ><a href="{$vo.url}">{$vo.title}</a></h2>
        <p >{$vo.info}...<a href="{$vo.url}">[查看全文]</a></p>
        {/loop}
        <ul class="b-box4">
        	{loop type="arclist" row="3"}<!--此处调用频道封面"推荐"图文3条-->
        	<li ><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a></li>
            {/loop}
            <div class="cl"></div>
        </ul>
        <div class="g-box5">
        	<div class="t-4 fl">
			{loop type="typename" row=1}
            	<span ><a href="{$vo.typeurl}">&raquo;更多</a></span>
            	<h3 ><a href='{$vo.typeurl}'>{$vo.typename}</a></h3>
			{/loop}
            </div>
        	<div class="pic fl">
            	{loop type="arclist" row=1 image=1}<!--此处调用指定栏目-3最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-3最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
        <div class="g-box5">
        	<div class="t-4 fl">
            	{loop type="typename" row=1}
            	<span ><a href="{$vo.typeurl}">&raquo;更多</a></span>
            	<h3 ><a href='{$vo.typeurl}'>{$vo.typename}</a></h3>
			{/loop}
            </div>
        	<div class="pic fl">
            	{loop type="arclist" row=1 image=1}<!--此处调用指定栏目-4最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-4最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
    </div>
    <div class="right-2 fr">
    	<div class="g-box6">
        	<div class="t-2">热门文章</div>
            <ul class="b-box2">
            	{loop type="link" row="10"}<!--此处调用频道封面热点文章-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
        <div class="g-box6">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box6">
            	{loop type="arclist" image=1 row=2}<!--此处调用指定栏目-5最新图文信息2条-->
                <li ><p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></li>
                {/loop}
                <div class="cl"></div>
            </ul>
            <ul class="b-box7">
            	{loop type="arclist" row="5"}<!--此处调用指定栏目-5最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="cl"></div>
</div>
<div class="main1">
	<div class="t-3">
        <h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
    </div>
    <div class="left-2 fl">
    	<div class="b-box3">
        	{loop type="arclist" row="1"}<!--此处图片调用频道封面栏目"特荐"图文信息1条-->
            <p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
            {/loop}
		</div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <div class="pic">
            	{loop type="arclist" row=1 image=1 info=1}<!--此处调用指定栏目-1最新信息1条-->
            	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
                <p ><a href="{$vo.url}">{$vo.title}</a></p>
               {$vo.info}...<a href="{$vo.url}">[详细]</a>
               {/loop}
            </div>
            <ul class="b-box5">
            	{loop type="arclist" row=3}<!--此处调用指定栏目-1最新信息3条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box1">
                {loop type="arclist" row="5"}<!--此处调用指定栏目-2最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="middle-1 fl">
    	{loop type="arclist" row="1" info=1}<!--此处调用频道封面"头条"1条-->
    	<h2 ><a href="{$vo.url}">{$vo.title}</a></h2>
        <p >{$vo.info}...<a href="{$vo.url}">[查看全文]</a></p>
        {/loop}
        <ul class="b-box4">
        	{loop type="arclist" row="3"}<!--此处调用频道封面"推荐"图文3条-->
        	<li ><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a></li>
            {/loop}
            <div class="cl"></div>
        </ul>
        <div class="g-box5">
        	<div class="t-4 fl">
            	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
            </div>
        	<div class="pic fl">
            	{loop type="arclist" row=3 image=1}<!--此处调用指定栏目-3最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-3最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
        <div class="g-box5">
        	<div class="t-4 fl">
            	
            	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
            </div>
        	<div class="pic fl">
            	{loop type="arclist" row=1 image=1}<!--此处调用指定栏目-4最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-4最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
    </div>
    <div class="right-2 fr">
    	<div class="g-box6">
        	<div class="t-2">热门文章</div>
            <ul class="b-box2">
            	{loop type="arclist" row="10"}<!--此处调用频道封面热点文章-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
        <div class="g-box6">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box6">
            	{loop type="arclist" image=1 row=2}<!--此处调用指定栏目-5最新图文信息2条-->
                <li ><p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></li>
                {/loop}
                <div class="cl"></div>
            </ul>
            <ul class="b-box7">
            	{loop type="arclist" row="5"}<!--此处调用指定栏目-5最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="cl"></div>
</div>
<div class="main1">
	<div class="t-3">
    	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
    </div>
    <div class="left-2 fl">
    	<div class="b-box3">
        	{loop type="arclist" row="1" image=1}<!--此处图片调用频道封面栏目"特荐"图文信息1条-->
            <p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
            {/loop}
		</div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <div class="pic">
            	{loop type="arclist" image=1 row=1 info=1}<!--此处调用指定栏目-1最新信息1条-->
            	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
                <p ><a href="{$vo.url}">{$vo.title}</a></p>
               {$vo.info}...<a href="{$vo.url}">[详细]</a>
               {/loop}
            </div>
            <ul class="b-box5">
            	{loop type="arclist" row=3}<!--此处调用指定栏目-1最新信息3条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
        <div class="g-box4">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box1">
                {loop type="arclist" row="5"}<!--此处调用指定栏目-2最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="middle-1 fl">
    	{loop type="arclist" row="1" info=1}<!--此处调用频道封面"头条"1条-->
    	<h2 ><a href="{$vo.url}">{$vo.title}</a></h2>
        <p >{$vo.info}...<a href="{$vo.url}">[查看全文]</a></p>
        {/loop}
        <ul class="b-box4">
        	{loop type="arclist" row="3"}<!--此处调用频道封面"推荐"图文3条-->
        	<li ><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a></li>
            {/loop}
            <div class="cl"></div>
        </ul>
        <div class="g-box5">
        	<div class="t-4 fl">
            	
            	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
            </div>
        	<div class="pic fl">
            	{loop type="arclist" image=1 row=1}<!--此处调用指定栏目-3最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-3最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
        <div class="g-box5">
        	<div class="t-4 fl">
            	
            	<h3 >{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</h3>
            </div>
        	<div class="pic fl">
            	{loop type="arclist" image=1 row=1}<!--此处调用指定栏目-4最新图文信息1条-->
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" />{$vo.title}</a>
                {/loop}
            </div>
            <ul class="b-box5-1 fl">
            	{loop type="arclist" row="4"}<!--此处调用指定栏目-4最新信息4条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
            <div class="cl"></div>
        </div>
    </div>
    <div class="right-2 fr">
    	<div class="g-box6">
        	<div class="t-2">热门文章</div>
            <ul class="b-box2">
            	{loop type="arclist" row="10"}<!--此处调用频道封面热点文章-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
        <div class="g-box6">
        	<div class="t-2">{loop type="typename" row=1}<a href='{$vo.typeurl}'>{$vo.typename}</a>{/loop}</div>
            <ul class="b-box6">
            	{loop type="arclist" row=2 image=1}<!--此处调用指定栏目-5最新图文信息2条-->
                <li ><p ><a href="{$vo.url}">{$vo.title}</a></p><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></li>
                {/loop}
                <div class="cl"></div>
            </ul>
            <ul class="b-box7">
            	{loop type="arclist" row="5"}<!--此处调用指定栏目-5最新信息5条-->
                <li ><a href="{$vo.url}">{$vo.title}</a></li>
            	{/loop}
            </ul>
        </div>
    </div>
    <div class="cl"></div>
</div>

{include file="footer.html" }
</body>
</html>
