<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link href="{$theme_path}/style/ningmp.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$theme_path}/js/jquery-1.3.1.js"></script>
<script type="text/javascript" src="{$theme_path}/js/jquery.mwxs.js"></script> 
</head>

<body>
{include file="head.html"}
<div id="mainbox">
<div class="focus">
<div id="focus_img">
<div class="nbox">
{loop type="arclist" row="6" image=1 info=1}
<div class="focus_box">
<div class="pbox"><a href="{$vo.url}"><img src="{$vo.pic}"></a></div>
<div class="descs">
<a href="{$vo.url}" class="t">{$vo.title}</a>
<p class="intro">{$vo.info}…</p>
<p class="rmd_read">来自栏目：{typename type="name"/} 的推荐</p>
</div>
</div>
{/loop}
</div>
</div>
<div id="focus_links">
<ul>
<li class="act"><a href="javascript:void(0)"></a></li>
<li ><a href="javascript:void(0)"></a></li>
<li ><a href="javascript:void(0)"></a></li>
<li ><a href="javascript:void(0)"></a></li>
<li ><a href="javascript:void(0)"></a></li>
<li ><a href="javascript:void(0)"></a></li>
</ul>
</div>
</div></div>
<div id="huany">
<div class="tjnr2">
<p >今日更新</p>
<ul style="border-top:1px solid #000; padding-top:10px">
{loop type="arclist" row="6" fan=1}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}
</ul>
</div></div>

<div class="tsimg">
<div class="tzpic">
<dl>推荐图片</dl>
<ul>
{loop type="arclist" row="10" image="1" fan=1}
<li ><a href="{$vo.url}"><img src="{$vo.pic}"></a></a>
  <p ><a href='{$vo.url}'>{$vo.title}</a> </p></li>
{/loop}
</ul>
</div>
</div>
<div class="nrmk">
{loop type="arclist" row="10" image=1 info=1}
<div class="xnlist">
   <div class="picxn"><a href="{$vo.url}"><img src="{$vo.pic}"></a></div>
  <div class="zwlist">
  <ul>
  <li ><span >{$postdate}</span><a href='{$vo.url}'>{$vo.title}</a></li>
  <p >{$vo.info}...</p>
  </ul>
  </div>
</div>
{/loop}

</div>
<div class="nrmky">


<div id=con>
<ul id=tags>
  <li ><A onClick="selectTag('tagContent0',this)" href="javascript:void(0)">热门排行</A> </li>
  <li class=selectTag><A onClick="selectTag('tagContent1',this)"  href="javascript:void(0)">本周热门</A> </li>
  <li ><A onClick="selectTag('tagContent2',this)"  href="javascript:void(0)">随机阅读</A> </li>
  </ul>
  <DIV id=tagContent>
<DIV class=tagContent id=tagContent0>
<ul>
{loop type="arclist" row="10"}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}

</ul>
</DIV>
<div class="tagContent selectTag" id=tagContent1>
<ul>

{loop type="link" row="10"}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}
</ul>
</DIV>
<DIV class=tagContent id=tagContent2>
<ul>
{loop type="arclist" row="10"}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}
</ul>
</DIV></DIV></DIV>
<p >
  <SCRIPT type=text/javascript>
function selectTag(showContent,selfObj){
	// 操作标签
	var tag = document.getElementById("tags").getElementsByTagName("li");
	var taglength = tag.length;
	for(i=0; i<taglength; i++){
		tag[i].className = "";
	}
	selfObj.parentNode.className = "selectTag";
	// 操作内容
	for(i=0; j=document.getElementById("tagContent"+i); i++){
		j.style.display = "none";
	}
	document.getElementById(showContent).style.display = "block";
	
	
}
</SCRIPT>
</p>
<p class="nrbt">点击排行</p>
<div class="nrmk3">
<ul>
{loop type="arclist" row="10"}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}
</ul>
</div>
<div class="nrmk2">
<p >本周热门</p>
<ul>
{loop type="arclist" row="11" fan=1}
<li ><a href='{$vo.url}'>{$vo.title}</a></li>
{/loop}

</ul>
</div>
</div>

{include file="footer.html" }
</body>
</html>