<style type="text/css">
.area {
    width: 1006px;
    margin: 0 auto 10px;
}
.title {
    padding: 5px 15px 4px;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
}
.friendLink {
    padding: 9px 0 0 14px;
}
.f5 {
    width: 100%;
    overflow: hidden;
    clear: both;
    padding-bottom: 10px;
    height: 40px;
}
.f5 li {
    float: left;
    line-height: 14px;
    padding: 8px 10px 0px;
    white-space: nowrap;
}
.f5 li a {
    color: #666666;
    float: left;
}
</style>
<div class="area cl">
  <!-- Start Left Mod -->

  <!-- End Left Mod -->
  <div class="clear"> </div>
 



<div class="modl" style="width:1006px;">
    <div class="module_wrap">
      <div class="tab_foot">
        <div class="title"><strong>友情链接</strong></div>
        <div class="main_wrap friendLink">
          <ul class="cl">
          <div class="bn lk">
			<ul class="f5">
{loop type="domain"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
 {if $links_open}
	 <ul class="f5">
	   {loop type="link"}
       <li ><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
	   {/loop}
	   </ul>
	   {/if}
                       </ul>
          </div>
          </ul>
          <div class="clear"> </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div id="ft" class="wp cl">

<span >
版权声明:本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除。
</span>
<p >
           Copyright &copy; 2016 Powered by <a href="{$thisurl}">{$title}</a>,<a href="{$web_url}">{$web_name}</a>&nbsp;&nbsp;{$web_tongji} <a href="http://{$host}/sitemap.xml">sitemap</a>
</p>

</div>

{$web_share}
{$web_bdpush}
<span id="scrolltop" onclick="window.scrollTo('0','0')">回顶部</span>
<script type="text/javascript">_attachEvent(window, 'scroll', function(){showTopLink();});</script>

