<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link href="{$theme_path}/data/cache/style_11_common.css" rel="stylesheet" media="screen" type="text/css" />
<link href="{$theme_path}/data/cache/style_11_portal_index.css" rel="stylesheet" media="screen" type="text/css" />
<script src="{$theme_path}/static/js/common.js" type="text/javascript"></script>
</head>
<body>
{include file="head.html"}
<!-- /header -->
<div class="moke-main2">

<!-- Start Area -->

<div class="area cl">
  <!-- Start Left Mod -->
  
  <div class="modxt reNews">
    {loop type="typename" row="1" }<div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate} </span></li>
      {/loop}
     </ul>
    </div>
</div>

  
<div class="modxt reNews ml10">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>
  

  <!-- End Left Mod -->
  <!-- Start Right Mod -->

<div class="modr reNews">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list30 cl">
{loop type="link" row="10"}
       <li ><a href="{$vo.url}" target="_blank" title="{$vo.title}" style=" display:inline-block;width:226px;">{$vo.title}</a><span style=" position:relative;display:inline-block; width:30px; *margin-top:-3px;">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>

<!-- End Right Mod -->
</div>

<div class="area cl">
  <!-- Start Left Mod -->
  
  <div class="modxt reNews">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate} </span></li>
      {/loop}
     </ul>
    </div>
</div>

  
<div class="modxt reNews ml10">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>
  

  <!-- End Left Mod -->
  <!-- Start Right Mod -->

<div class="modr reNews">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list30 cl">
{loop type="arclist" row="10"}
       <li ><a href="{$vo.url}" target="_blank" title="{$vo.title}" style=" display:inline-block;width:226px;">{$vo.title}</a><span style=" position:relative;display:inline-block; width:30px; *margin-top:-3px;">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>

<!-- End Right Mod -->
</div>
<div class="area cl">
  <!-- Start Left Mod -->
  
  <div class="modxt reNews">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate} </span></li>
      {/loop}
     </ul>
    </div>
</div>

  
<div class="modxt reNews ml10">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list8 cl">
{loop type="arclist" row="10"}
       <li ><p class="p1"><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></p><span class="s1 color">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>
  

  <!-- End Left Mod -->
  <!-- Start Right Mod -->

<div class="modr reNews">
    {loop type="typename" row="1" }
      <div class="title"><a target="_blank" href="{$vo.typeurl}"  class="fr">更多</a><a target="_blank" href="{$vo.typeurl}"><strong>{$vo.typename}</strong></a>{/loop}</div>
    <div class="inner">
      <ul class="list30 cl">
{loop type="arclist" row="10"}
       <li ><a href="{$vo.url}" target="_blank" title="{$vo.title}" style=" display:inline-block;width:226px;">{$vo.title}</a><span style=" position:relative;display:inline-block; width:30px; *margin-top:-3px;">{$postdate}</span></li>
      {/loop}
     </ul>
    </div>
</div>

<!-- End Right Mod -->
</div>




{include file="footer.html" }

</body>
</html>