<?php require 'core/mylib/tag.php'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<?php $article = getArticle();?>
    <title><?=$article['title'];?></title>
    <meta name="description" content="<?=$article['description'] ;?>">
    <meta name="keywords" content="<?=$article['type'].','.$article['keywords'] ;?>">
    <link rel="stylesheet" href="{$theme_path}/css/bbs.css" type="text/css"/>
    <link rel="shortcut icon" href="{$theme_path}/img/favicon.ico">
    <link rel="stylesheet" href="{$theme_path}/css/css.css" type="text/css">
    <script type="text/javascript" src="{$theme_path}/js/system.js"></script>
    <script type="text/javascript" src="{$theme_path}/js/edit.js?v=1.1"></script>
    <script type="text/javascript" src="{$theme_path}/js/ubb2html.js"></script>
</head>
<body>
{include file='header.html'}
<div class="page">
    <div class="p_fa">
        <a href="" rel="nofollow" title="发新贴">
            <img src="{$theme_path}/img/addnews.gif" alt="发新贴"/></a>
        <a href="" rel="nofollow" title="回复">
            <img src="{$theme_path}/img/hfnews.gif" alt="回复"/>
        </a>
    </div>
    <div class="p_list"><a href="lb-11.html" class="arw_l">返回列表</a><span>1</span></div>
</div>
<h1 id="x_bt"><span class="right">查看：839 &nbsp; </span>&nbsp;* &nbsp; {getone name="liaocheng/bbs/user/name" cacheid="rand"/}</h1>
<div class="x_list">
    <div class="l">靓妹：<a href="bbs_{随机数字}" class="cBlack"><?=$article['author'];?></a>
        <p style="margin:2px 0 5px 0;">
	        <img src="<?=randPic('face')?>" height="100px" width="100px" alt=""/>
        </p>
        <span class="mobileyz" title="手机已认证"></span>
        <br/><img src="{$theme_path}/ico/<?php echo rand(1, 22)?>.gif"/><br/>积分：<?=rand(100,1000);?><br/>注册：> <?=randTime();?><br/>沟通：
        <img src="{$theme_path}/img/jst_offline.gif" title="会员『<?=$article['author'];?>』离线点击发送短信留言" align="absmiddle" style="cursor:pointer" onclick="openWindow('/jst/duanxin.html?abc=chat&huiyuan=聊城-宋老师');"/>
    </div>
    <div class="r">
        <div class="xx">
            <span class="t">楼主<a href="17750-l1.html" rel="nofollow">只看楼主</a></span>
            <a href="/u/?huiyuan=%c1%c4%b3%c7-%cb%ce%c0%cf%ca%a6">信息</a>
            <a href="xiugai.html?table=1&id=28676&lou=1" rel="nofollow">编辑</a>
            <a href="hf.html?lbid=11&id=17750&tb=1&yy=28676" rel="nofollow">引用</a>
            <a href="guanli.html?abc=delbbs&id=17750" rel="nofollow">删除</a>
            <a href="guanli.html?abc=zhuanyi&id=17750" rel="nofollow">转移</a>
            <a href="guanli.html?abc=zding&id=17750" rel="nofollow">总顶</a>
            <a href="guanli.html?abc=ding&id=17750" rel="nofollow">顶置</a>
            <a href="guanli.html?abc=tui&id=17750" rel="nofollow">加精</a>
            <a href="guanli.html?abc=suo&id=17750" rel="nofollow">锁定</a>
            <a href="guanli.html?abc=count&id=17750" rel="nofollow">整理</a>
            <a href="javascript:openWindow('/inc/fenxiang.html?abc=bbs&id=17750','分享 - 转发给朋友',450,240);"
                class="fenxiang" rel="nofollow">¤分享/转发</a>
            <a id="icang" href="javascript:void(0);" 
               onclick="shoucang('/inc/shoucang.html?lx=1&id=17750&m=6b0beca4a0c796f662cae52a88e82ac0');return false;"
               class="fenxiang" rel="nofollow">☆收藏</a>
        </div>
        <div class="sj">Post By：<?=$article['pub_time'] ;?></div>
        <div class="nr" id="nr17750_1">
            <?php echo $article['content']?>
        </div>
    </div>
</div>
<?php for ($i=0;$i<rand(4,20);$i++): ?>
<div class="x_list">
    <div class="l">靓妹：<a href="/bbs_{随机数字}/" class="cBlack"><?=randName()?></a>
        <p style="margin:2px 0 5px 0;">
            <img src="<?=randPic('face')?>" height="100px" width="100px" alt=""/>
        </p>
        <span class="mobileyz" title="手机已认证"></span><br/>
        <img src="{$theme_path}/ico/<?=rand(1, 22);?>.gif" alt=""/><br/>积分：<?=rand(100,1000);?><br/>注册：> <?=randTime();?><br/>
        <img src="{$theme_path}/img/jst_offline.gif" alt=""  style="cursor:pointer"/>
    </div>
    <div class="r">
        <div class="xx"><span class="t">第2楼</span><a href="">信息</a><a
                href="xiugai.html" rel="nofollow">编辑</a><a
                href="hf.html" rel="nofollow">引用</a><a
                href="guanli.html" rel="nofollow">删除</a></div>
        <div class="sj">Post By： <?=randTime();?></div>
        <div class="nr" id="nr17750_2"><?=randComment('bbs');?></div>
    </div>
</div>
<?php endfor; ?>

<div class="page">
    <div class="p_goto"><a href="<?=randMeta('bbs','url')?>" >&lt;&lt;上一主题</a>|<a
            href="<?=randMeta('bbs','url')?>" >下一主题&gt;&gt;</a></div>
    <div class="p_list"><a href="/bbs/" class="arw_l">返回列表</a><span>1</span></div>
</div>
<div class="mainbox"><h3><a href="#top">↑返回顶部</a> * 快速发表贴子</h3>
    <div style="margin:15px;">提示：您尚未注册或登录。会员请 [<a href="/huiyuan/login.php">登录</a>] ,不是会员？ [<a
            href="/huiyuan/reg.php">免费注册 </a>]
    </div>
</div>
{include file='show_footer.html'}
</body>
</html>