<div id="bottom">
	<ul id="navA">
		<li><a href="/" title="聊城信息港" class="home">首页</a></li>
		<li><a href="/fangchan/" title="聊城房产">房产<img src="{$theme_path}/img/jian.gif"></a></li>
		<li><a href="/zhaopin/" title="招聘/求职">人才</a></li>
		<li><a href="/ershou/" title="二手市场">二手</a></li>
		<li><a href="/jiaoyou/" title="聊城交友">交友</a></li>
		<li><a href="/shenghuo/" title="生活服务">服务</a></li>
		<li><a href="/zhidao/" title="你问我答">知道</a></li>
		<li><a href="/blog/" title="博客日志">博客</a></li>
		<li><a href="/qiye/" title="企业信息">黄页<img src="{$theme_path}/img/jian.gif"></a></li>
		<li><a href="/news/" title="新闻资讯">新闻</a></li>
		<li><a href="/keji/" title="科技">科技</a></li>
		<li><a href="/bbs/" title="聊城论坛">论坛<img src="{$theme_path}/img/jian.gif"></a></li>
		<li><a href="/lvyou/" title="旅游指南">旅游</a></li>
	</ul>
	<p><span class="STYLE1">友情连接：</span>
		{loop type="domain"}
		<a href="{$vo.url}" target="_blank">{$vo.title}</a>
		{/loop}
		{if $links_open}
		{loop type="link" row='20' tpl='' image='' info='' }
		{getone name="link/liaocheng/link"/}
		{/loop}
		{/if}
	</p>
	<a href="/sitemap.xml">网站地图</a> - <a href="/webad/wap.htm">手机版</a> - <a href="/zhidao">用户帮助</a> -
	<a href="/huiyuan/reg.html">用户注册</a> - <a href="/inc/tougao.html">在线投稿</a> - <a href="/webad/adServer.htm"> 运行时间 {运行时间}</a>
	- <a href="/inc/guestbook.html">留言反馈</a> - <span>运行时间 {运行时间}</span><br/>免责声明：本网站所有信息、内容均为会员发布，请注意识别验证信息的虚假。据此交易风险自负！本站不提供任何保证并不承担任何法律连带责任。<br/>Copyright
	&copy;&nbsp; liaocheng.cc Inc. All rights reserved
	{分享代码}
	{百度推送代码}
</div>