<?php require 'core/mylib/tag.php'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="mobile-agent" content="format=xhtml; url={$web_url}m/">
    <meta name="mobile-agent" content="format=html5; url={$web_url}m/">
    <meta name="mobile-agent" content="format=wml; url={$web_url}m/">

    <title>{$toptitle}</title>
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="shortcut icon" href="{$theme_path}/img/favicon.ico">
    <link rel="stylesheet" href="{$theme_path}/css/main.css" type="text/css">
    <link rel="stylesheet" href="{$theme_path}/css/css.css" type="text/css">
</head>
<body>
{include file="header.html"}
<div class="banner">
    <div class="banner">
        <p align="center"><a href='{geturl tpl="zhaopin_list" fan=""/}' title="招聘信息" target="_blank"><img src="{$theme_path}/img/0926048450.gif"
                                                                              alt="网络招聘" width="948" height="70"
                                                                              border="0"></a></p>
    </div>
    <div class="banner">
        <p align="center"><a href='{geturl tpl="fangchan_list" fan=""/}' target="_blank"><img src="{$theme_path}/img/0954533473.jpg"
                                                                                alt="房产" width="948" height="70"
                                                                                border="0"></a></p>
    </div>
    <div class="banner">
    </div>
    <div class="ad155">
        <a href='{geturl tpl="qiye_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/2237597237.jpg" width="155" height="55"></a><a
            href='{geturl tpl="ershou_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/1533344547.gif" width="155" height="55"></a><a
            href='{geturl tpl="zhidao_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/2239549247.gif" width="155" height="55"></a><a
            href='{geturl tpl="news_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/0919590237.gif" width="155" height="55"></a><a
            href='{geturl tpl="keji_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/0920098240.gif" width="155" height="55"></a><a
            href='{geturl tpl="bbs_list" fan=""/}' target="_blank" onfocus="this.blur()"><img src="{$theme_path}/img/1018214360.gif" width="155" height="55"></a>
    </div>
    <ul id="gg_txt" style="display: block;">
        {loop type="arclist" row="12"}
        <li>{$vo.i}
            <a href="{$vo.url}" title="{$vo.title}" target="_blank"></a>{$vo.title}
        </li>
        {/loop}
    </ul>
    <div class="content bottom_5">
        <div class="r">
            <div id="jdt">
                {loop type="arclist" row="5" info='' image=1 }
                <p id="jdt_{$vo.i}" style="display: none;">
                    <a href="{$vo.url}" target="_blank" onfocus="this.blur()">
                        <img src="{$vo.pic}" alt="{$vo.title}">
                    </a>
                </p>
                {/loop}
                <div id="jdt_page"><strong>1</strong>
                    <a href="javascript:setFocus(2);" target="_self">2</a>
                    <a href="javascript:setFocus(3);" target="_self">3</a>
                    <a href="javascript:setFocus(4);" target="_self">4</a>
                </div>
            </div>
            <script language="javascript" src="{$theme_path}/js/jdt.js" rel="nofollow"></script>
            <a href="{$web_url}fangchan/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0904101273.gif" width="256" height="52"></a>
            <br>
            <a href="{$web_url}zhaopin/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0904200277.gif" width="256" height="52"></a>
            <br>
            <a href="{$web_url}jiaoyou/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0904279280.gif" width="256" height="52"></a>
            <br>
            <a href="{$web_url}ershou/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0904363283.gif" width="256" height="52"></a>
            <br>
            <a href="{$web_url}info/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0904451287.gif" width="256" height="52"></a>
            <br>
            <a href="{$web_url}bbs/" target="_blank" onfocus="this.blur()">
                <img border="0" src="{$theme_path}/img/0156430283.gif" width="256" height="52"></a>
        </div>
        <div class="l">
            <div id="jd">
                {loop type="arclist" row="1" info=1}
                <h3><a href="{$vo.url}" target="_blank"><strong>{$vo.title}</strong></a></h3>
                <p>{$vo.info}</p>
                {/loop}
                <ul class="hot_news">
                    {loop type="arclist" tpl="show" row="34"}
                    <li><a href="{$vo.url}" target="_blank" title="{$vo.title}">{$vo.title}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="box2 right">
                <h5><a href="{$web_url}bbs/" class="more">更多&gt;&gt;</a>
                    <span>聊城论坛快眼看贴</span></h5>
                <ul class="ico">
                    <?php for($i=0; $i< 34; $i++): ?>
                    <li><a href="{$vo.url}">{getone name="liaocheng/bbs/title/title" cacheid="rand"/}</a></li>
                    <? endfor; ?>
                </ul>
            </div>
            <div class="news_pic">
                <h5><a href="{$web_url}qiye/">商家展示</a></h5>
                <ul>
                    {loop type="arclist" tpl="qiye" row="5" image='1'}
                    <li><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}"><br></a></li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="l">
            <div class="box1">
                <h5><a href="/fangchan/" class="more">更多&gt;&gt;</a><span>房产信息</span>
                </h5>
                <ul>
                    {loop type="arclist" row='12' tpl='fangchan' image='1' info='' }
                    <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/fangchan/title/title" cacheid="rand" /}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="box1 box_l">
                <h5><a href="/ershou/" class="more">更多&gt;&gt;</a><span>二手信息</span></h5>
                <ul>
                    {loop type="arclist" row='12' tpl='ershou' image='1' info='' }
                    <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/ershou/title/title" cacheid="rand" /}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
        <div class="r">
            <div class="box2">
                <h5><a href="/shenhuo/" class="more">更多&gt;&gt;</a><span>生活服务</span></h5>
                <ul class="ico">
                    {loop type="arclist" row='12' tpl='shenhuo' image='1' info='' }
                    <li><span><?php echo date("m-d")?></span><a href="{$vo.url}">{getone name="liaocheng/shenghuo/title/title" cacheid="rand" /}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="l">
        <div class="box1">
            <h5><a href="/zhaopin/" class="more">更多&gt;&gt;</a><span>企业招聘</span></h5>
            <ul>
                {loop type="arclist" row='12' tpl='zhaopin' image='1' info='' }
                <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/zhaopin/title/title" cacheid="rand" /}</a></li>
                {/loop}
            </ul>
        </div>
        <div class="box1 box_l">
            <h5><a href="/keji/" class="more">更多&gt;&gt;</a><span>科技前沿</span></h5>
            <ul>
                {loop type="arclist" row='12' tpl='keji' image='1' info='' }
                <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/keji/title/title" cacheid="rand" /}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="r">
        <div class="box2">
            <h5><a href="/jiaoyou/" class="more">更多&gt;&gt;</a><span>交友征婚</span></h5>
            <ul class="ico">

                {loop type="arclist" row='12' tpl='jiaoyou' image='1' info='' }
                <li><span><?php echo date("m-d")?></span><a href="{$vo.url}">{getone name="liaocheng/jiaoyou/title/title" cacheid="rand" /}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
</div>

<div class="qilist">
    <div class="l">
        <div class="box1">
            <h5><a href="/news/" class="more">更多&gt;&gt;</a><span>新闻资讯</span></h5>
            <div class="pic">
                {loop type="arclist" row='1' tpl='news' image=1 info=1 }
                <a href="{$vo.url}"><img src="{$vo.pic}" alt='{$vo.title}'></a>
                {/loop}
            </div>
            <ul class="hot">
                {loop type="arclist" row='4' tpl='news' image='' info='' }
                <li><a href="{$vo.url}">{getone name="liaocheng/news/title/title" cacheid="rand" /}</a>
                    {/loop}
            </ul>
            <ul class="news">
                {loop type="arclist" row='12' tpl='news' image='' info='' }

                <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/news/title/title" cacheid="rand" /}</a></li>
                {/loop}
            </ul>
        </div>

        <div class="box1 box_l">
            <h5><a href="/qiye/" class="more">更多&gt;&gt;</a><span>企业</span></h5>
            <div class="pic">
                {loop type="arclist" row='1' tpl='qiye' image=1 info=1 }
                <a href="{$vo.url}"><img src="{$vo.pic}" alt="{vo.title}"></a>
                {/loop}
            </div>
            <ul class="hot">
                {loop type="arclist" row='4' tpl='qiye' image='' info='' }
                <li><a href="{$vo.url}">{getone name="liaocheng/qiye/title/title" cacheid="rand" /} -- {getone name="liaocheng/qiye/title/name" cacheid="rand" /}</a>
                {/loop}
            </ul>
            <ul class="news">
                {loop type="arclist" row='12' tpl='qiye' image='' info='' }
                <li>
                    <span>{$vo.postdate}</span>
                    <a href="{$vo.url}">{getone name="liaocheng/qiye/title/title" cacheid="rand" /} -- {getone name="liaocheng/qiye/title/name" cacheid="rand" /}</a>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="r">
        <div class="box2">
            <h5><a href="/blog/" class="more">更多&gt;&gt;</a><span>聊城博客</span></h5>
            <ul class="ico">
                {loop type="arclist" row='12' tpl='blog' image='' info='' }
                <li><span><?php echo date("m-d")?></span><a href="{$vo.url}">{getone name="liaocheng/blog/title/title" cacheid="rand" /}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="qilist">
        <div class="l">
            <div class="box1">
                <h5><a href="/zhidao/" class="more">更多&gt;&gt;</a><span>知道</span></h5>
                <div class="pic">
                    {loop type="arclist" row='1' tpl='zhidao' image=1 info=1 }
                    <a href="{$vo.url}"><img src="{$vo.pic}" alt="{vo.title}"></a>
                    {/loop}
                </div>
                <ul class="hot">
                    {loop type="arclist" row='4' tpl='zhidao' image='' info='' }
                    <li><a href="{$vo.url}">{getone name="liaocheng/zhidao/title/title" cacheid="rand" /}</a>
                        {/loop}
                </ul>
                <ul class="news">
                    {loop type="arclist" row='12' tpl='zhidao' image='' info='' }
                    <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/zhidao/title/title" cacheid="rand" /}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="box1 box_l">
                <h5><a href="/lvyou/" class="more">更多&gt;&gt;</a><span>旅游资讯</span></h5>
                <div class="pic">
                    {loop type="arclist" row='1' tpl='lvyou' image=1 info=1 }
                    <a href="{$vo.url}"><img src="{$vo.pic}" alt="{vo.title}"></a>
                    {/loop}
                </div>
                <ul class="hot">
                    {loop type="arclist" row='4' tpl='lvyou' image='' info='' }
                    <li><a href="{$vo.url}">{getone name="liaocheng/lvyou/title/title" cacheid="rand" /}</a>
                        {/loop}
                </ul>
                <ul class="news">
                    {loop type="arclist" row='12' tpl='lvyou' image='' info='' }
                    <li><span>{$vo.postdate}</span><a href="{$vo.url}">{getone name="liaocheng/lvyou/title/title" cacheid="rand" /}</a></li>
                    {/loop}
                </ul>
            </div>

        </div>
        <div class="r">
            <div class="box2">
                <h5><a href="/news/" class="more">更多&gt;&gt;</a><span>热点推荐</span>
                </h5>
                <ul class="ico">
                    {loop type="arclist" row='12' tpl='' image='' info='' fan='1' }
                    <li><span><?php echo date("m-d")?></span><a href="{$vo.url}">{$vo.title}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="bottom">
    <ul id="navA">
        <li><a href="/" title="聊城信息港" class="home">首页</a></li>
        <li><a href="/fangchan/" title="聊城房产">房产<img src="{$theme_path}/img/jian.gif"></a></li>
        <li><a href="/zhaopin/" title="招聘/求职">人才</a></li>
        <li><a href="/ershou/" title="二手市场">二手</a></li>
        <li><a href="/jiaoyou/" title="聊城交友">交友</a></li>
        <li><a href="/shenghuo/" title="生活服务">服务</a></li>
        <li><a href="/zhidao/" title="你问我答">知道</a></li>
        <li><a href="/blog/" title="博客日志">博客</a></li>
        <li><a href="/qiye/" title="企业信息">黄页<img src="{$theme_path}/img/jian.gif"></a></li>
        <li><a href="/news/" title="新闻资讯">新闻</a></li>
        <li><a href="/keji/" title="科技">科技</a></li>
        <li><a href="/bbs/" title="聊城论坛">论坛<img src="{$theme_path}/img/jian.gif"></a></li>
        <li><a href="/lvyou/" title="旅游指南">旅游</a></li>
    </ul>
    <p><span class="STYLE1">友情连接：</span>
        {loop type="domain"}
        <a href="{$vo.url}" target="_blank">{$vo.title}</a>
        {/loop}
        {if $links_open}
        {loop type="link" row='20' tpl='' image='' info='' }
        {getone name="link/liaocheng/link"/}
        {/loop}
        {/if}
    </p>
    <p>
        <span style="CURSOR: hand"
              onclick="window.external.addFavorite()">加入收藏</span> |
        <a href="{$web_url}" rel="nofollow"
           onclick=""
           title="聊城信息港">设为首页</a> |
        <a href="{$web_url}shortcut.html" rel="nofollow">保存到桌面</a> |
        <a href="{$web_url}sitemap.xml">网站地图</a> |
        <a href="{$web_url}about.html">关于我们</a> |
        <a href="{$web_url}webad/adServer.htm">广告投放</a> |
        <a href="{$web_url}zhidao">用户帮助</a> |
        <a href="{$web_url}huiyuan/reg.html">用户注册</a> |
        <a href="{$web_url}tougao.html">在线投稿</a> |
        <a href="">手机版</a> |
        <a href="{$web_url}guestbook.html">留言反馈</a>
    </p>
    <p>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=369207198&amp;site=qq&amp;menu=yes">
            <img border="0" src="{$theme_path}/img/button_11.gif" alt="点击这里给我发消息" title="点击这里给我发消息">
        </a>业务电话:{联系电话} QQ:369207198
        <a href="{$web_url}" target="_blank">聊城信息港</a> 运行时间 {运行时间}
        <a target="_blank" rel="nofollow" href="#" title="聊城信息港（官方）"></a><br>
        Copyright &#169; 2003-2010 <strong><span class="STYLE1">{$web_url}</span></strong></p>
    <center>All rights reserved. &nbsp;&nbsp;备案编号：鲁ICP备16047037号 <a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37152602000101" target="_blank">鲁公网安备
        37152602000101</a></center>
    <a key="59db23580c909644c952128f" logo_size="124x47" logo_type="realname"
       href="http://v.pinpaibao.com.cn/authenticate/cert/?site={$web_url}&amp;at=realname" target="_blank">
        <b id="aqLogoFLNVT" style="display: none;"></b><img src="{$theme_path}/img/sm_124x47.png" alt="安全联盟认证"
                                                            width="124" height="47" style="border: none;"></a>
    <a key="59db23580c909644c952128f" logo_size="124x47" logo_type="common"
       href="http://www.cn-ecusc.org.cn/cert/aqkx/site/?site={$web_url}" target="_blank">
        <b id="aqLogoUSBIT" style="display: none;"></b><img src="{$theme_path}/img/aqkx_124x47.png" alt="安全联盟认证"
                                                            width="124" height="47" style="border: none;"></a>
    <p></p>
</div>

</body>
</html>