<div id="bottom">
	<p><span class="STYLE1">友情连接：</span>
		{loop type="domain"}
		<a href="{$vo.url}" target="_blank">{$vo.title}</a>
		{/loop}
		{if $links_open}
		{loop type="link" row='20' tpl='' image='' info='' }
		{getone name="link/liaocheng/link"/}
		{/loop}
		{/if}
	</p>
	<a href="/sitemap.xml">网站地图</a> - <a href="/webad/wap.htm">手机版</a> - <a href="/zhidao">用户帮助</a> -
	<a href="/huiyuan/reg.html">用户注册</a> - <a href="/inc/tougao.html">在线投稿</a> - <a href="/webad/adServer.htm"> 运行时间 {运行时间}</a>
	- <a href="/inc/guestbook.html">留言反馈</a> - <span>运行时间 {运行时间}</span><br/>免责声明：本网站所有信息、内容均为会员发布，请注意识别验证信息的虚假。据此交易风险自负！本站不提供任何保证并不承担任何法律连带责任。<br/>Copyright
	&copy;&nbsp; liaocheng.cc Inc. All rights reserved
	{分享代码}
	{百度推送代码}
</div>