<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link rel="stylesheet" href="{$theme_path}/css/style.css" type="text/css" />
</head>
<body class="home">
{include file="head.html"}
<!-- /header -->
<div class="main1">
	<div class="m1_left FL">
    	<div class="m1_box1 FL">
        	{loop type="arclist" row=1 info=1}
        	<h2 ><a href="{$vo.url}">{$vo.title}</a></h2>
            <p >{$vo.info}…<a href="#">[详细]</a></p>
            {/loop}
        </div>
        <ul class="m1_box2 FL">
        	{loop type="arclist" row="3" image=1}
        	<li ><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /><br />{$vo.title}</a></li>
            {/loop}
        </ul>
        <ul class="m1_box3 FL">
        	{loop type="arclist" row="14"}
        	<li >·<a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
        <div class="clear"></div>
    </div>
    <div class="m1_right FR">
    	<div class="m1_box4"><img src="{getone name="pic"/}" width="398" height="242" /></div>
        <div class="m1_box5">
        	<ul>
            	{loop type="arclist" row="2" image=1 info=1 fan=1}
            	<li >
                	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
                    <h3 ><a href="{$vo.url}">{$vo.title}</a></h3>
                    <p >{$vo.info}...</p>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="main2">
	<div class="m2_box1">
    	{loop type="typename" row=9}
    	<div class="m2_box2 FL">
        	<div class="m2_tit">
            	<h3 ><a href="{$vo.typeurl}">{$vo.typename}</a></h3>
            	<span ><a href="{$vo.typeurl}">更多</a></span>
            </div>
            <div class="m2_box3">
            	{loop type="arclist" row="1" image=1 info=1}
            	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
                <h4><a href="{$vo.url}">{$vo.title}</a></h4>
                <p >{$vo.info}...</p>
                {/loop}
            </div>
            <ul class="m2_box4">
            	{loop type="arclist" row="6"}
                <li >·<a href="{$vo.url}">{$vo.title}</a></li>
                {/loop}
            </ul>
        </div>
        {/loop}
        <div class="clear"></div>
    </div>
</div>
<div class="main2">
    <div class="m2_box5 FL">
        <div class="m2_tit">
            <h3 >推荐阅读</h3>
        </div>
        <div class="m2_box3">
            {loop type="arclist" row="1" image=1 info=1}
            <a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a>
            <h4><a href="{$vo.url}">{$vo.title}</a></h4>
            <p >{$vo.info}...</p>
        	{/loop}
        </div>
        <ul class="m2_box4">
            {loop type="link" row="6"}
            <li >·<a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
    </div>
    <div class="m2_box6 FR">
    	<div class="m2_tit FL">
            <h3 >热门阅读</h3>
        </div>
    	<div class="m2_box6_pic FL">
        	{loop type="arclist" row="1" image=1}
        	<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /><br />{$vo.title}</a>
            {/loop}
        </div>
        <ul>
        	{loop type="arclist" row="18"}
            <li >·<a href="{$vo.url}">{$vo.title}</a></li>
            {/loop}
        </ul>
    </div>
    <div class="clear"></div>
</div>

{include file="footer.html" }
<!-- /footer -->

</body>
</html>
