<!DOCTYPE html>
<!--[if IE]>
<![if IE 5]><html class="ie ie5 lie9 lie8 lie7 lie6"><![endif]>
	<![if IE 6]><html class="ie ie6 lie9 lie8 lie7"><![endif]>
	<![if IE 7]><html class="ie ie7 lie9 lie8"><![endif]>
	<![if IE 8]><html class="ie ie8 lie9"><![endif]>
	<![if IE 9]><html class="ie ie9"><![endif]>
	<![if !((IE 6)|(IE 7)|(IE 8)|(IE 9))]><html class="ie"><![endif]>
<![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="notie">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link rel="stylesheet" type="text/css" href="{$theme_path}/skin/css/78002.css" >
<script type="text/javascript" charset="utf-8" src="{$theme_path}/skin/js/jquery-1.9.1.min.js"></script>
</head>
<body>
{include file="head.html" }
<div class="banner-page" style="background-image: url('{$theme_path}/skin/images/nybg.jpg')">
  <div class="banner-title">
    <div class="container">
      <div class="banner-title-in">
        <div class="column-name">联系我们</div>
        <div class="column-description"> {$description} </div>
      </div>
    </div>
  </div>
</div>
<div class="main c">
  <div class="container"> {include file="left.html" }
    <div class="main-right">
      <div class="mr-in">
        <div class="column c">
          <div class="title fl">联系我们</div>
          <div class="breadcrumb fr"> <a href="/">首页</a> > <a href="{$thisurl}">联系我们</a> </div>
        </div>
        <style>
.main-right .content  p{
    padding-bottom: 5px;
}
.main-right .content table p{
   padding-bottom: 0;
}
.f14{
  padding-top:20px;
}
</style>
        <div class="content">
          <h1>联系我们</h1>
          <div style="min-height:600px;">&nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp;{网站名称}</strong>
					<p style="margin-left: 40px; word-wrap: break-word;">
						<br />
						地址：{联系地址}</p>
					<p style="margin-left: 40px; word-wrap: break-word;">
						电话：{联系电话}<br />
						邮&nbsp; 编：{固定数字5}<br />
						E-mail：{联系邮箱}<br />
						网站：{网站地址}</p></div>
        </div>
        <p class="f14"> {loop type="arclist" row=2 tpl="product_show"  title="typename"}<a href="{$vo.url}">{$vo.title}</a><br />{/loop} </p>
        <script language="JavaScript" src="{$theme_path}/skin/js/api.js"></script> 
      </div>
    </div>
  </div>
</div>
{include file="footer.html" }
</body>
</html>