<div id="dbg">
<div id="top">
<ul>
<span ><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$web_url}');">设为首页</a> <a href="javascript:window.external.AddFavorite('{$web_url}','{$title}')">加入收藏</a></span>
</ul>
</div>
</div>
<div id="home">
<div style="margin-top:10px;"><a href="{$web_url}"><img src="/uploads/images/logo.png?n={$encode_name}&w=230"></a></div>
<div id="navMenu">
<div id="dh">
<ul>
<li ><a href="/">首页</a></li>
{loop type="typename"}
    <li ><a href="{$vo.typeurl}" target="_blank">{$vo.typename}</a></li>
{/loop}
</ul>
 <script type="text/javascript">cssdropdown.startchrome("navMenu")</script>
</div>
</div>
<div id="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image" src="{$theme_path}/images/so1.gif" width="33" height="24" class="go" alt="Search" title="search">
</form>
</ul>

</div>